*{
  margin: 0;
  padding: 0;
}
:root{
  --font-one:"Montserrat", sans-serif;
  --font-two: "Lora", serif;
}
footer{
  height:200px;
  background-color: #baa5a864;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  padding:20px;
  gap:40px;
}
footer div{
  font-family: var(--font-one);
  font-size: 12px;
  color:rgb(106, 77, 54);
  padding: 7px 0px;
}
footer .gt1{
  font-family: var(--font-two);
  font-size: 15px;
  color:rgb(42, 31, 21);
}
footer .gh div{
  margin-top: 15px;
}
footer .social{
  margin-top: 15px;
}
footer .social i{
    padding:5px;
    padding-left: 0px;
}
footer .gh p{
  font-size: 20px;
}
footer i{
    font-size: 20px;
}