*{
  margin: 0;
  padding: 0;
}
:root{
  --font-one:"Montserrat", sans-serif;
  --font-two: "Lora", serif;
}
.bi{
  background-image: url(/PBL/assets/images/pink-dress-1920-x-1080-wallpaper-215ptm291xqq04wd.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:20px;
  gap:27px;
  font-family: var(--font-one);
  color: #fbebee;
}
.up{
  font-weight: 550;
}
.big{
  font-family: var(--font-two);
 font-size: 70px;
    line-height: 1;
    color: #fff0e9;
}
button{
  padding: 12px 25px;
}
button .one{
  background-color: #f8e9eb;
    border: none;
    color: #fd8397;
    font-size: 15px;
      padding: 12px 25px;
}
.t1{
  font-family: var(--font-two);
  font-size: 37px;
}
.t2{
  font-family: var(--font-one);
}
.space{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: center;
  gap: 5px;
}
.categories{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin:20px;
  margin-bottom:70px;
}
.card{
  height: 400px; 
    padding: 20px; 
    background-size: cover;     /* auto crop */
    background-position: center; /* center crop */
    background-repeat: no-repeat;
    border-radius: 10px;
    color: white;
    font-size: 26px;
    text-align: end;

}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.card1{
  background-image: url(/PBL/assets/images/cute-summer-dressesat0-75x-681b87afd0fa9.avif);
}
.card2{
  background-image: url(/PBL/assets/images/top.avif);
}
.card3{
  background-image: url(/PBL/assets/images/bottoms.jpg);
}
.card4{
  background-image: url(/PBL/assets/images/ethnic.jpg);
}
.container-two{
  /* background-color: #fbe2d7; */
  background-color: #faadb864;
  padding:100px 0px 100px 0px;

}
.featuretxt{
  padding-left:20px;
  padding-bottom: 50px;
}
.featured{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin:20px;
}
.fitem{
  padding: 0;
  display: grid;
  grid-template-rows: 400px auto;
  overflow: hidden;
  border-radius: 7px;
  background-color: white;
}
.fitem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 1;
}
.fitem .ftext {
  grid-row: 2; /* text occupies second row */
  padding: 15px;
}
.fitem .one{
  font-size: 12px;
  font-family: var(--font-one);
}
.fitem .two{
    padding: 15px 0px;
    font-size: 21px;
    font-weight: 100;
    color: #202020;
}
.fitem .three{
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 400;
}
.community{
  height:300px;
  margin:75px 20px 100px 20px ;
   border-radius: 10px;
  background-color: #faadb864;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input{
  border-radius: 7px;
  padding:15px;
  border:none;
  font-family: var(--font-one);
  margin-top: 30px;
  margin-right: 10px;
}
.community button{
  background-color: #fd8397;
  border:none;
  color:white;
  font-weight: 500;
  font-size: 16px;
  font-family: var(--font-one);
}
